<html>

<head>
    <title>
        Answer stuff
    </title>
</head>

<body>
    {% for n in range(all_qns | length) %}
    <p>{{all_qns[n]}}</p>
    <p>options are:</p>
    {% for x in range(all_ans[n] | length) %}
    <input type="radio" id="{{all_ans[n][x]}}" name="{{all_ans[n]}}" value="{{all_ans[n][x]}}">
    <label for="{{all_ans[n][x]}}">{{all_ans[n][x]}}</label><br>
    <!-- <p>{{all_ans[n][x]}}</p> -->
    {% endfor %} <br><br>{% endfor %}

    <button onclick="verify()">Submit Quiz</button>

</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

</html>